@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Lato:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #282B35;
  min-height: 200vh;
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
}
body::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 2px #F4D37C;
  background: #282B35b3;
}
body::-webkit-scrollbar-thumb {
  background-color: #F4D37C;
  border-radius: 2px;
}
.container{
  max-width: 1920px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
// Navbar Start
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 83px;
  height: 175px;
  .logo{
    position: absolute;
    img{
      height: 130px;
    }
  }
  .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a{
      color: var(--Alt-Weiss, #F9F9F9);
      font-family: Lato;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 50px;
      background: var(--Flieder, #AD96DC);
      padding: 19px 36px;
    }
  }
}
// Navbar End

// Hero Start
.hero{
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__img{
    position: absolute;
    // display: none;
  }
  .hi1{
    transform: translateX(-570px) translateY(-180px);
  }
  .hi2{
    transform: rotate(-10deg) translateX(-690px) translateY(-145px);
  }
  .hi3{
    transform: rotate(4deg) translateX(-595px) translateY(345px);
  }
  .hi4{
    transform: rotate(4deg) translateX(575px) translateY(-215px);
  }
  .hi5{
    transform: translateX(650px) translateY(-80px) rotate(12deg);
  }
  h1{
    color: var(--Alt-Weiss, #F9F9F9);
    text-align: center;
    font-family: Bona Nova;
    font-size: 124px;
    font-style: italic;
    font-weight: 400;
    line-height: 84px;
    margin-bottom: 49px;
    position: relative;
    span{
      font-style: normal;
      font-family: Bona Nova;
      display: inline-block;
    }
    img{
      position: absolute;
      right: 35px;
      top: -50%;
      z-index: -1;
    }
  }
  p{
    color: var(--Alt-Weiss, #F9F9F9);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 575px;
    margin-bottom: 57px;
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    a{
      color: var(--Gold, #F4D37C);
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 20px 40px;
      border-radius: 50px;
      text-align: center;
      border: 1px solid var(--Gold, #F4D37C);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s linear;
      &:hover{
        color: #282B35;
        background: #F4D37C;
      }
    }
  }
}

// Hero End

@media (max-width:1440px) {
  .navbar{
    padding: 0 60px;
    .logo{
      img{
        height: 110px;
      }
    }
  }
}

@media (max-width:1024px) {
  .navbar{
    padding: 0 30px;
    .logo{
      img{
        height: 110px;
      }
    }
  }
}
@media (max-width:900px) {
  .navbar{
    padding: 0;
    height: 125px;
    .logo{
      top: 72px;
      img{
        height: 50px;
      }
    }
    .nav{
      align-items: flex-start;
      height: 100%;
      a{
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
      }
    }
  }
}