@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif, serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #282B35;
  min-height: 200vh;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.4em;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: rgba(40, 43, 53, 0.7019607843);
}

body::-webkit-scrollbar-thumb {
  background-color: #F4D37C;
  border-radius: 2px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 83px;
  height: 175px;
}
.navbar .logo {
  position: absolute;
}
.navbar .logo img {
  height: 130px;
}
.navbar .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar .nav a {
  color: var(--Alt-Weiss, #F9F9F9);
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: var(--Flieder, #AD96DC);
  padding: 19px 36px;
}

.hero {
  padding-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hero__img {
  position: absolute;
}
.hero .hi1 {
  -webkit-transform: translateX(-570px) translateY(-180px);
          transform: translateX(-570px) translateY(-180px);
}
.hero .hi2 {
  -webkit-transform: rotate(-10deg) translateX(-690px) translateY(-145px);
          transform: rotate(-10deg) translateX(-690px) translateY(-145px);
}
.hero .hi3 {
  -webkit-transform: rotate(4deg) translateX(-595px) translateY(345px);
          transform: rotate(4deg) translateX(-595px) translateY(345px);
}
.hero .hi4 {
  -webkit-transform: rotate(4deg) translateX(575px) translateY(-215px);
          transform: rotate(4deg) translateX(575px) translateY(-215px);
}
.hero .hi5 {
  -webkit-transform: translateX(650px) translateY(-80px) rotate(12deg);
          transform: translateX(650px) translateY(-80px) rotate(12deg);
}
.hero h1 {
  color: var(--Alt-Weiss, #F9F9F9);
  text-align: center;
  font-family: Bona Nova;
  font-size: 124px;
  font-style: italic;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 49px;
  position: relative;
}
.hero h1 span {
  font-style: normal;
  font-family: Bona Nova;
  display: inline-block;
}
.hero h1 img {
  position: absolute;
  right: 35px;
  top: -50%;
  z-index: -1;
}
.hero p {
  color: var(--Alt-Weiss, #F9F9F9);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 575px;
  margin-bottom: 57px;
}
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.hero__btn a {
  color: var(--Gold, #F4D37C);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 40px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid var(--Gold, #F4D37C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.hero__btn a:hover {
  color: #282B35;
  background: #F4D37C;
}

@media (max-width: 1440px) {
  .navbar {
    padding: 0 60px;
  }
  .navbar .logo img {
    height: 110px;
  }
}
@media (max-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }
  .navbar .logo img {
    height: 110px;
  }
}
@media (max-width: 900px) {
  .navbar {
    padding: 0;
    height: 125px;
  }
  .navbar .logo {
    top: 72px;
  }
  .navbar .logo img {
    height: 50px;
  }
  .navbar .nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
  }
  .navbar .nav a {
    width: 100%;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0;
  }
}